/* SideMenu */
.sidemenu {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  padding: 10px;
}

/* Examples.tsx */
@media (max-width: 960px) {
  .mdFlexColumn {
    flex-direction: column;
  }
}
