.App {
  display: flex;
  padding: 0;
  margin: 0;
  height: calc(100vh - 76px);
}
/* SideMenu */
.sidemenu {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  background-color: #f1f3f5;
  padding: 10px;
}
.sidemenuButton {
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  transition: ease 0.25s all;
}
.sidemenuButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidemenuButton span {
  padding-left: 6px;
  padding-right: 12px;
}
.sidemenuBottom {
  border-top: 1px solid black;
}
/* ChatBox */
.chatbox {
  flex: 1;
  position: relative;
}
.chatInputHolder {
  width: 100%;
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.chatInput {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
}

.chatLog {
  height: 75vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
/* chat message */
.chatMessageAI {
  background-color: #f1f3f5;
}
.chatMessageCenter {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-right: 24px;
  padding-left: 24px;
}
.avatar {
  background: black;
  border-radius: 6px;
  min-width: 40px;
  height: 40px;
}
.avatarAI {
  background: rgb(29, 65, 15);
  border-radius: 6px;
  min-width: 40px;
  height: 40px;
}

@media (max-width: 960px) {
  .mdFlexColumn {
    flex-direction: column;
  }
}
